In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import SGDRegressor
from sklearn import metrics

/home/furusato/tests/jupyter/jupyter/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/furusato/tests/jupyter/jupyter/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/furusato/tests/jupyter/jupyter/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/furusato/tests/jupyter/jupyter/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/furusato/tests/jupyter/jupyter/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/furusato/tests/jupyter/jupyter/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
def step_gradient(learning_rate, theta, x_sample, y_sample):

    N = float(x_sample.values[:,0].size)
    
    h = theta.dot(x_sample.transpose())
    error = h - y_sample
    
    gradients = ((x_sample.T * (error)).T)/N
    
    somatorio_louco = np.sum(gradients, axis=0)

    direction = learning_rate * somatorio_louco
    
    #theta = theta - minimization
    
    return -direction, np.linalg.norm(direction)

In [3]:
def descent(learning_rate, initial_theta, iterations, x_sample, y_sample):
    
    theta = initial_theta
    for i in range(iterations):
            aiseeutepego = step_gradient(learning_rate, theta, x_sample, y_sample)
            theta += aiseeutepego[0]
            if i % 100 == 0:
                print('Iteration {}: {}'.format(i, aiseeutepego[1]))
    return theta

In [4]:
data = pd.read_csv('diamonds.csv', index_col=0)

In [5]:
data.head()

   carat      cut color clarity  depth  table  price     x     y     z
1   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
2   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
3   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
4   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
5   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [6]:
one_hot_cut = pd.get_dummies(data['cut'])
one_hot_color = pd.get_dummies(data['color'])
one_hot_clarity = pd.get_dummies(data['clarity'])
data = data.drop('cut', axis=1)
data = data.drop('color', axis=1)
data = data.drop('clarity', axis=1)
data = data.join(one_hot_cut)
data = data.join(one_hot_color)
data = data.join(one_hot_clarity)

In [7]:
data.head()

,carat,depth,table,price,x,y,z,Fair,Good,Ideal,...,I,J,I1,IF,SI1,SI2,VS1,VS2,VVS1,VVS2
1,0.23,61.5,55.0,326,3.95,3.98,2.43,0,0,1,...,0,0,0,0,0,1,0,0,0,0
2,0.21,59.8,61.0,326,3.89,3.84,2.31,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,0.23,56.9,65.0,327,4.05,4.07,2.31,0,1,0,...,0,0,0,0,0,0,1,0,0,0
4,0.29,62.4,58.0,334,4.20,4.23,2.63,0,0,0,...,1,0,0,0,0,0,0,1,0,0
5,0.31,63.3,58.0,335,4.34,4.35,2.75,0,1,0,...,0,1,0,0,0,1,0,0,0,0

In [8]:
#cleanup_nums = {"cut":     {"Fair": 1, "Good": 1.01, "Very Good": 1.02, "Premium": 1.03, "Ideal": 1.04},
#                "color": {"J": 1.0, "I": 1.01, "H": 1.02, "G": 1.03, "F": 1.04, "E": 1.05, "D": 1.06},
#                "clarity": {"I1": 1.0, "SI2": 1.01, "SI1": 1.02, "VS2": 1.03, "VS1": 1.04, "VVS2": 1.05, 
#                            "VVS1": 1.06, "IF": 1.07}
#                }
#data.replace(cleanup_nums, inplace=True)

In [9]:
data.head()

,carat,depth,table,price,x,y,z,Fair,Good,Ideal,...,I,J,I1,IF,SI1,SI2,VS1,VS2,VVS1,VVS2
1,0.23,61.5,55.0,326,3.95,3.98,2.43,0,0,1,...,0,0,0,0,0,1,0,0,0,0
2,0.21,59.8,61.0,326,3.89,3.84,2.31,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,0.23,56.9,65.0,327,4.05,4.07,2.31,0,1,0,...,0,0,0,0,0,0,1,0,0,0
4,0.29,62.4,58.0,334,4.20,4.23,2.63,0,0,0,...,1,0,0,0,0,0,0,1,0,0
5,0.31,63.3,58.0,335,4.34,4.35,2.75,0,1,0,...,0,1,0,0,0,1,0,0,0,0

In [10]:
train, test = train_test_split(data, test_size=0.15)

In [11]:
train_y = train.loc[:,'price']
test_y = test.loc[:,'price']

In [12]:
train_x = train.drop('price', axis=1)
test_x = test.drop('price', axis=1)

In [13]:
train_y_n = train.loc[:,'price']
train_x_n = train.drop('price', axis=1)

test_y_n = test.loc[:,'price']
test_x_n = test.drop('price', axis=1)

Xt = train_x_n.transpose()

XtX = Xt.dot(train_x_n)

XtX_inverse = pd.DataFrame(np.linalg.pinv(XtX.values), XtX.columns, XtX.index)
theta = XtX_inverse.dot(Xt.dot(train_y_n))
pd.DataFrame.from_dict(theta).transpose()
y_train_pred = theta.dot(train_x_n.transpose())
y_test_pred = theta.dot(test_x_n.transpose())

In [ ]:
theta

In [ ]:
train_x=(train_x-train_x.min())/(train_x.max()-train_x.min())
test_x=(test_x-test_x.min())/(test_x.max()-test_x.min())

In [14]:
train_x.head()

,carat,depth,table,x,y,z,Fair,Good,Ideal,Premium,...,I,J,I1,IF,SI1,SI2,VS1,VS2,VVS1,VVS2
42889,0.51,59.8,55.0,5.23,5.17,3.11,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
37572,0.50,62.8,58.0,5.05,5.08,3.18,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0
9827,1.01,62.9,61.0,6.40,6.36,4.01,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
48916,0.63,62.8,57.0,5.49,5.46,3.44,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
26394,2.03,63.2,60.0,7.88,7.94,5.00,0,1,0,0,...,0,1,0,0,0,0,0,0,0,1

In [15]:
#initial_theta = np.zeros((train_x.values[0].size, 1))
initial_theta = np.ones(train_x.values[0].size)
#initial_theta = theta
#new_theta = descent(0.25, initial_theta, 6000, train_x, train_y)
#print(train_y.values[0])
new_theta = theta
print(theta)

carat        11300.971203
depth          -60.050344
table          -25.100815
x            -1033.132703
y               18.250518
z              -55.470742
Fair          1754.740610
Good          2349.692419
Ideal         2610.648259
Premium       2539.297191
Very Good     2501.248788
D             2503.628822
E             2295.592863
F             2240.036333
G             2025.277044
H             1532.412450
I             1040.515934
J              118.163821
I1           -2425.347918
IF            3005.615338
SI1           1334.132222
SI2            374.022027
VS1           2243.048809
VS2           1929.592448
VVS1          2667.312937
VVS2          2627.251405
dtype: float64

In [16]:
y_train_pred = new_theta.dot(train_x.transpose())

In [17]:
y_test_pred = test_x.dot(new_theta)

In [18]:
print(train_y.values[:10], y_train_pred.values[:10])

[ 1359   990  4672  2041 15898   552  5956 14558   631  5897] [  798.796121    -923.98295755  5285.95729884  2603.04299992
 14461.31820862   245.88058224  7290.45634389 14015.57005707
   271.50991772  5484.41016396]

In [19]:
metrics.r2_score(train_y, y_train_pred)

0.9197289120192323

In [20]:
metrics.r2_score(test_y, y_test_pred)

0.920043847775823

In [21]:
#np.savetxt('/home/furusato/tests/jupyter/mo444a/batch_model.txt', new_theta)