In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import SGDRegressor

In [2]:
data = pd.read_csv('diamonds.csv', index_col=0)

In [3]:
data.head()

   carat      cut color clarity  depth  table  price     x     y     z
1   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
2   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
3   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
4   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
5   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [4]:
one_hot_cut = pd.get_dummies(data['cut'])
one_hot_color = pd.get_dummies(data['color'])
one_hot_clarity = pd.get_dummies(data['clarity'])

In [5]:
data = data.drop('cut', axis=1)
data = data.drop('color', axis=1)
data = data.drop('clarity', axis=1)

In [6]:
data.head()

   carat  depth  table  price     x     y     z
1   0.23   61.5   55.0    326  3.95  3.98  2.43
2   0.21   59.8   61.0    326  3.89  3.84  2.31
3   0.23   56.9   65.0    327  4.05  4.07  2.31
4   0.29   62.4   58.0    334  4.20  4.23  2.63
5   0.31   63.3   58.0    335  4.34  4.35  2.75

In [7]:
data = data.join(one_hot_cut)
data = data.join(one_hot_color)
data = data.join(one_hot_clarity)

In [8]:
data.head()

,carat,depth,table,price,x,y,z,Fair,Good,Ideal,...,I,J,I1,IF,SI1,SI2,VS1,VS2,VVS1,VVS2
1,0.23,61.5,55.0,326,3.95,3.98,2.43,0,0,1,...,0,0,0,0,0,1,0,0,0,0
2,0.21,59.8,61.0,326,3.89,3.84,2.31,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,0.23,56.9,65.0,327,4.05,4.07,2.31,0,1,0,...,0,0,0,0,0,0,1,0,0,0
4,0.29,62.4,58.0,334,4.20,4.23,2.63,0,0,0,...,1,0,0,0,0,0,0,1,0,0
5,0.31,63.3,58.0,335,4.34,4.35,2.75,0,1,0,...,0,1,0,0,0,1,0,0,0,0

In [9]:
train, test = train_test_split(data, test_size=0.15)

In [10]:
train_y = train.loc[:,'price']
test_y = test.loc[:,'price']

In [11]:
train_x = train.drop('price', axis=1)
test_x = test.drop('price', axis=1)

In [12]:
train_x=(train_x-train_x.min())/(train_x.max()-train_x.min())
test_x=(test_x-test_x.min())/(test_x.max()-test_x.min())

In [13]:
train_x.head()

,carat,depth,table,x,y,z,Fair,Good,Ideal,Premium,...,I,J,I1,IF,SI1,SI2,VS1,VS2,VVS1,VVS2
46481,0.072765,0.530556,0.238462,0.488827,0.089474,0.102516,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
29754,0.031185,0.497222,0.269231,0.427374,0.077080,0.087421,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
49786,0.106029,0.588889,0.250000,0.523277,0.096095,0.113836,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
49752,0.074844,0.483333,0.269231,0.498138,0.091511,0.101887,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
33708,0.020790,0.505556,0.269231,0.402235,0.073684,0.083333,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [14]:
clf = SGDRegressor(penalty="l2", alpha=0.01, max_iter=1000)

In [15]:
clf.fit(train_x, train_y)

SGDRegressor(alpha=0.01, average=False, epsilon=0.1, eta0=0.01,
       fit_intercept=True, l1_ratio=0.15, learning_rate='invscaling',
       loss='squared_loss', max_iter=1000, n_iter=None, penalty='l2',
       power_t=0.25, random_state=None, shuffle=True, tol=None, verbose=0,
       warm_start=False)

In [16]:
clf.score(test_x, test_y)

0.34817272144723266